#register-wrapper{
  background-color: #f5f5f5;
  .registrations__header{
    width: 700px;
    margin: 0 auto;
    .member-header {
      height: 128px;
      font-size: 12px;
      display: flex;
      justify-content: space-around;
      &__logo {
        margin-top: 40px;
        &--image {
          height: 50px;
          width: 185px;
        }
      }
      &__progress {
        margin-top: 40px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        &--text {
          margin-right: 40px;
          z-index: 1;
          color: #888;
        }
        &--active {
          @extend .member-header__progress--text;
          font-weight: 600;
          color: #3ccace;
        }
        &--round {
          height: 12px;
          width: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background-color: #ccc;
        }
        &--round-blue {
          @extend .member-header__progress--round;
          background-color: #3ccace;
        }
        &--border {
          height: 2px;
          width: 220px;
          position: absolute;
          top: 30px;
          left: 20px;
          background-color: #ccc;
        }
      }
    }
  }
  .container{
    padding: 0 30px 30px 30px;
    .field__contents{
      width: 700px;
      justify-content: center;
      background-color: white;
      margin: 0 auto;
      &--title h2{
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid whitesmoke;
        font-weight: normal;
      }
      &--form{
        padding: 30px 197px 60px;
        .nav{
          padding-bottom: 25px;
          &__title{
            font-size: 15px;
            font-weight: bold;
            padding-bottom: 5px;
          }
          &__text{
            font-size: 12px;
            font-weight: normal;
          }
        }
        .actions{
          padding-top: 40px;
          .next__btn{
            display: inline-block;
            background-color: #00BFFF;
            width: 306px;
            opacity: 0.8;
            padding: 15px 0;
            color: white;
            transition: 1s;
          }
        }
      }
    }
  }
}