#register-wrapper{
  background-color: #f5f5f5;
  position: relative;
  .registrations__header{
    width: 700px;
    margin: 0 auto;
    .member-header {
      height: 128px;
      font-size: 12px;
      display: flex;
      justify-content: space-around;
      &__logo {
        margin-top: 40px;
        &__image {
          height: 50px;
          width: 185px;
        }
      }
      &__progress {
        margin-top: 40px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        &__text {
          margin-right: 40px;
          z-index: 1;
          color: #888;
        }
        &__active {
          @extend .member-header__progress__text;
          font-weight: 600;
          color: #3ccace;
        }
        &__round {
          height: 12px;
          width: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background-color: #ccc;
        }
        &__round-blue {
          @extend .member-header__progress__round;
          background-color: #3ccace;
        }
        &__border {
          height: 2px;
          width: 220px;
          position: absolute;
          top: 30px;
          left: 20px;
          background-color: #ccc;
        }
      }
    }
  }
  .container{
    width: 700px;
    padding: 0 30px 30px 30px;
    margin: 0 auto;
    .field-contents{
      background-color: white;
      margin: 0 auto;
      width: 700px;
      justify-content: center;
      &__title h2{
        text-align: center;
        padding: 32px;
        font-size: 22px;
        font-weight: normal;
        border-bottom: 1px solid #dfdfdf;
      }
      &__form{
        padding: 40px 40px 64px;
        background-color: white;
        &__box {
          padding: 0 100px;
          width: 100%;
          margin: 0 auto;
          &__label {
            height: 14px;
            width: 83.31px; 
            color: #333333;
            font-size: 14px;
            font-weight: bold;
          }
          &__require {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #ff0211;
            color: white;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4em;
          }
        }
        .nav{
          padding-bottom: 25px;
          &__title{
            font-size: 15px;
            font-weight: bold;
            padding-bottom: 5px;
          }
          &__text{
            font-size: 12px;
            font-weight: normal;
          }
        }
        .actions{
          padding-top: 40px;
          .next-btn{
            display: inline-block;
            background-color: #00BFFF;
            width: 306px;
            opacity: 0.8;
            padding: 15px 0;
            color: white;
            transition: 1s;
          }
        }
      }
    }
  }
}