.register-wrapper{
  .registrations-header{
    background-color: #f5f5f5;
    position: relative;
    .registrations__header{
      width: 700px;
      margin: 0 auto;
      .member-header {
        height: 128px;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        &__logo {
          margin-top: 40px;
          &__image {
            height: 50px;
            width: 185px;
          }
        }
        &__progress {
          margin-top: 40px;
          list-style: none;
          display: flex;
          justify-content: space-between;
          position: relative;
          &__text {
            margin-right: 40px;
            z-index: 1;
            color: #888;
          }
          &__active {
            @extend .member-header__progress__text;
            font-weight: 600;
            color: #3ccace;
          }
          &__round {
            height: 12px;
            width: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
            background-color: #ccc;
          }
          &__round-blue {
            @extend .member-header__progress__round;
            background-color: #3ccace;
          }
          &__border {
            height: 2px;
            width: 220px;
            position: absolute;
            top: 30px;
            left: 20px;
            background-color: #ccc;
          } 
        }
      }
    }
  }
}