.pay
  .main_contents
    .main_details
      .done__message
        購入が完了しました。
    %ul.after-purchase-links
      %li.purchased__links__TopPage
        = link_to "トップページに戻る", root_path, class: "purchased__links__TopPage__btn"